.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;

  .login-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    mat-icon {
      height: 60px;
      width: 60px;
      font-size: 60px;
    }
  }

  .login-form-container {
    padding: 1.25em;
    width: 20em;

    form {
      margin-top: 1.25em;
    }

    p {
      margin: 0;
    }

    mat-form-field {
      width: 100%;
    }

    .login-button-container {
      margin-top: 1.85em;
      display: flex;
      justify-content: center;
    }
  }
}
