<div class="products-container" *ngIf="state$ | async as state">
  <h1>Products</h1>

  <div class="search-container">
    <app-search-input
      (searchChanges)="searchProducts($event)"
    ></app-search-input>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="state.products"
      [total]="state.total"
      (editProduct)="openProductDialog($event.id)"
      (deleteProduct)="confirmDelete($event.id)"
      (changePage)="changePage($event)"
    ></app-products-table>
  </div>
</div>
