<div class="products-container" *ngIf="state$ | async as state">
  <h1>Products</h1>

  <div class="search-container">
    <app-search-input
      (searchChanges)="searchProducts($event)"
    ></app-search-input>
  </div>

  <div class="table-container" [class.hidden]="!state.total || state.loading">
    <app-products-table
      [pageIndex]="(pageIndex$ | async) ?? 0"
      [products]="state.products"
      [total]="state.total"
      (editProduct)="openProductDialog($event.id)"
      (deleteProduct)="confirmDelete($event.id)"
      (changePage)="changePage($event)"
      (sortChange)="sort($event)"
    ></app-products-table>
  </div>

  <div class="fill-page" *ngIf="!!state.error">
    <mat-icon>error</mat-icon>
    <h2>Sorry there was an error please try again later</h2>
  </div>

  <div class="fill-page" *ngIf="!state.total && state.loaded && !state.loading">
    <mat-icon>info</mat-icon>
    <h2>No Results try using other filter</h2>
  </div>

  <div class="fill-page" *ngIf="state.loading">
    <mat-spinner color="primary" [diameter]="50"></mat-spinner>
  </div>
</div>
