<div class="products-table-container">
  <mat-table
    [dataSource]="products"
    matSort
    matSortDisableClear
    matSortActive="name"
    matSortDirection="asc"
    (matSortChange)="sortChange.emit($event)"
  >
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">
        {{ product.description | slice: 0:20 }}
        {{ product.description.length > 20 && '...' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price | number }}</td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let product">{{ product.stock | number }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let product">
        {{ product.active ? 'Active' : 'Inactive' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let product">{{ product.rating }}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let product">{{ product.discount }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let product" class="action-buttons-container">
        <button
          mat-mini-fab
          color="default"
          (click)="editProduct.emit(product)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" (click)="deleteProduct.emit(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>

  <mat-paginator
    [pageIndex]="pageIndex"
    [length]="total"
    [pageSizeOptions]="[10, 20]"
    (page)="changePage.emit($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
