.products-table-container {
  .action-buttons-container {
    button:first-child {
      // to avoid box shadow get cut off
      margin-left: 5px;
      margin-right: 0.72em;
    }

    mat-icon {
      height: 1.14rem;
      width: 1.14rem;
      font-size: 1.14rem;
    }
  }
}
